.everything {
  margin: 0 auto;
  background-color: lightblue;
}

.wrapper {
  background-color: white;
  margin: 0 auto;
  width: 80%;
  height: 100%;
}

ul li {
  list-style: none;
  display: inline;
}

.family {
  margin: 0 auto;
  width: 30%;
  border: 1px solid white;
  border-radius: 50%;
}

.main_footer {
  text-align: center;
}

header {
  text-align: center;
}















