html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}




.header {
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: darkgray;
}

.head {
	text-align: center;
}

.nav_bar {
	display: inline;
    width: 100%;
	background-color: darkgray;
}

.links {
	display: inline;
	background-color: darkgray;
}

.links ul li {
	display: inline;
	padding-right: 10px;
	background-color: darkgray;
}

.search {
	display: inline;
}

.main_content {
	background-color: white;
	margin: 0 15%;
}

.everything {
	background-color: blue;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}



















