html {
  height: 100%;
  box-sizing: border-box;
}







.header {
    position: fixed;
    z-index: 1;
    height: 40px;
    width: 100%;
    background-color: darkgray;
}

.head {
	text-align: center;
}

.nav_bar {
	position: fixed;
    z-index: 1;
    height: 40px;
    width: 100%;
	background-color: darkgray;
}

.links {
	background-color: darkgray;
}

.links ul li {
	display: inline;
	padding-right: 10px;
	background-color: darkgray;
}


.main_content {
	background-color: white;
	margin: 0 15%;
	padding-top: 125px;
}

.everything {
	background-color: blue;
}






















